<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de los Estudiantes</title>
</head>
<body>
    <h1 th:text="'Detalles del Estudiante' + ' ' + ${estudiante.nombre} + ' ' +  ${estudiante.primerApellido}"> Detalles EStudiantes</h1>


    <img alt="Imagen de un perro Samoyedo" th:src="@{/images/dog.jpg}" width="420" height="320">

    <div>
        Teléfonos:
        <ul>
            <li th:each="telefono : ${telefonos}" th:text="${telefono}"></li>
        </ul>
    </div>

    
</body>
</html>